body
{
    margin: 0px;
    background-color: #F6F5F2;
}

a,
a:visited,
a:hover,
a:focus,
a:active 
{
    text-decoration: none;
    color: black;
}

button 
{
    border-radius: 5px;
    background-color: #333333;
    color: #F6F5F2;
    border: none;
    padding: 5px;
}

.banner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    background-color: #333333;
    margin-bottom: 20px;
}

.banner a 
{
    color: #F6F5F2;
}

.banner h3,
.banner span
{
    padding: 10px;
}

#display
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 100%;
}

#contact-manager
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
}

#search,
#modify-contact
{
    background-color: #ececec;
    height: 35px;
}

#search
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search label 
{
    font-size: 15px;
}

#search *
{
    margin: 3px;
}

#search input 
{
    margin: 5px;
    border: none;
    background-color: #ececec;
    width: 50%;
}

#search input:focus
{
    outline: none;
}

#contacts
{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#contacts-list,
#current-pane
{
    height: 100%;
    border: 1px solid #c4c4c4;
    background-color: #FAF9F6;
}

#contacts-list
{
    width: 15%;
    border-radius: 10px 0px 0px 10px;
}

#current-pane
{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px 10px 10px 0px;
}

#contacts table
{
    width: 100%;
    border-collapse: collapse;
}

#contacts td, #contacts th
{
    padding: 8px;
}

#contacts th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #333333;
    color: #F6F5F2;
}

#contacts-table th 
{
    border-radius: 10px 0px 0px 0px;
}

#current-contact th 
{
    border-radius: 0px 10px 0px 0px;
}

#current-contact td, #current-contact th
{
    border: none;
}

#current-name
{
    display: flex;
    justify-content: center;
}

#current-name span
{
    padding: 2px;
}

.current-contact-details
{
    display: flex;
}

.current-label
{
    text-align: left;
    width: 200px;
}

.current-data
{
    margin: 0 auto;
    text-align: left;
}

#modify-contact
{
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: 5px;
}

.contact-button
{
    width: 100px;
}

#contact-save-button,
#new-contact-save,
#cancel-button
{
    display: none;
}

.name-editor
{
    display: none;
}

.name-editor input,
.field-editor
{
    width: 30%;
}

.field-editor
{
    display: none;
}

#contacts a,
#contacts a:visited,
#contacts a:focus
{
    text-decoration: none;
    color: black;   
}

#contact-footer
{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#pagination
{
    position: absolute; 
    bottom: -1px;
    z-index: 2; 
    box-sizing: border-box; 
    border-radius: 0px 0px 0px 10px; 
    width: 15%; 
    display: inline;
}

#pagination .pagination-button
{
    padding-left: 5px;
    display: inline; 
    float: left; 
    width: 30%; 
    box-sizing: border-box; 
    text-align: center;
    border-top: 1px solid #c4c4c4
}

#pagination .pagination-button:hover
{
    cursor: pointer;
    background-color: lightgray;
}

#page-count
{
    padding-left: 5px;
    display: inline; 
    float: left; 
    width: 30%; 
    box-sizing: border-box; 
    text-align: center;
    border-top: 1px solid #c4c4c4
}
