.flex-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin: auto;
}

.form-container
{
    display: flex;
    flex-direction: column;
}

.form-container div
{
    margin: 5px;
}

.form-element
{
    display: flex;
    flex-direction: column;
}

.field-error
{
    display: none;
    font-size: 13px;
    color: red;
}
